@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #121212;
  color: #fff;
}

input:focus,
button:focus {
  outline: none;
}
